{% extends 'base.html' %}
<!--title is used to captilize the output, it is predefined tags to customize data
check for tags and filter in django documentation it have for loop, if else , and , or , operators and 
many more predefined tags which needed mostly
-->
{% block title %} {{month_key|title}} {% endblock title %}

{% block heading %} {{month_key|title}} {% endblock heading %}

{% block content %}
    <!--here wer are include the navigation bar-->
    {% include "challenges/include/header.html" with active_page="challenge" %}
    {% if challenge_key is not None %}
        <h2>{{challenge_key}}</h2>               
    {% else %}
        <h2>No challenge for {{month_key}}</h2>
    {% endif %}
{% endblock content %}